<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

                   <!-- Card #26 -->
                   <fuse-card class="flex flex-col max-w-80 w-full px-8 pt-6 pb-4 filter-list">
                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">En Espera</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <!-- <mat-menu #listCard04Menu="matMenu">
                                <button mat-menu-item>Clear activities</button>
                            </mat-menu> -->
                        </div>
                    </div>
                    <div class="flex flex-col mt-5">
                        <div class="flex">
                            <img
                                class="w-10 h-10 mr-4 rounded-full"
                                src="assets/images/avatars/female-01.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col min-w-0">
                                <div class="leading-tight">Amelia Edwards</div>
                                <div class="text-md leading-none text-secondary mt-2">16/5/2023</div>
                            </div>
                        </div>
                        <div class="flex mt-8">
                            <img
                                class="w-10 h-10 mr-4 rounded-full"
                                src="assets/images/avatars/male-01.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col min-w-0">
                                <div class="leading-tight">Lew Silverton</div>
                                <div class="text-md leading-none text-secondary mt-2">16/5/2023</div>
                            </div>
                        </div>
                        <div class="flex mt-8">
                            <img
                                class="w-10 h-10 mr-4 rounded-full"
                                src="assets/images/avatars/male-15.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col min-w-0">
                                <div class="leading-tight">Brian Hughes </div>
                                <div class="text-md leading-none text-secondary mt-2">16/5/2023</div>
                            </div>
                        </div>
                        <div class="flex mt-8">
                            <img
                                class="w-10 h-10 mr-4 rounded-full"
                                src="assets/images/avatars/female-15.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col min-w-0">
                                <div class="leading-tight">John Silverton's Visito ayer</div>
                                <div class="text-md leading-none text-secondary mt-2">15/5/2023</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-6 -mx-3">
                        <a
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            [routerLink]="['./']">
                            See entire activity feed
                        </a>
                    </div>
                </fuse-card>

        </div>

    </div>

</div>
